.signup {
  width: 80%;
  margin: 0 auto;
  &__legend {
    margin-bottom: 1rem;
  }
  &__labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  &__inputs {
    width: 30%;
    margin: 0 auto;
  }
}
