

#paragraphe {
  background-color: white;
  border-radius:0.8rem ;
  padding: 0.5rem;
  margin: 1rem 0rem;
  border: solid 2px #F79884;

  &__title {
    margin: 0rem 0rem 0rem 1rem;
    background-color: white;
    border-radius:1rem ;
    text-decoration: none;
  }

  &__card {
    padding: 0.5rem;
    margin-bottom: 1rem ;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }

}

#card {
  margin: 0.5rem;
  background-color: #FABAB0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 220px;
  border: solid 2px #F79884;
  border-radius:0.8rem ;
  padding: 0.5rem;
  margin-bottom: 1rem ;
  max-width: 60%;

  overflow: hidden;


  &__men{
      height:100%;
   
  }

  &__img {
    max-width: 220px;
    Max-height: 220px; 
    border-radius: 1rem 1rem 0rem 0rem;
    border: solid 2px #F79884;

  }

&__paragraphe {
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  background-color: white;
  padding: 0rem 0rem 0rem 0.5rem;
  background-color: white;
  border-radius:0rem 0rem 1rem 1rem ;
  max-width: 220px;
  border: solid 2px #F79884;
  min-height:45%;
  //box-sizing: border-box;

}

&__title{
  font-size: 1.4rem;
  text-align: center;
}

&__liste{
  font-display: none;
   height: 100%;
   margin: 0.5em;
}

&__sous-liste{
   
   margin-left: 0.5em;
    
}

&__contact {
  display: flex;
  justify-content: space-around;
}

&__ico {
  max-width: 50px;
  Max-height: 50px;
  margin-top: 1rem;
  border: solid 2px #F79884;
  border-radius: 2rem;
}

&__ico:hover {
-webkit-transform:scale(1.35); /* Safari et Chrome */
-moz-transform:scale(1.35); /* Firefox */
-ms-transform:scale(1.35); /* Internet Explorer 9 */
-o-transform:scale(1.35); /* Opera */
transform:scale(1.35);
}
}


/*


#card {
  margin: 0.5rem;
  background-color: #FABAB0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 220px;
  padding: 1rem;
  border: solid 2px #F79884;
}

#card__img {
  max-width: 220px;
  Max-height: 220px; 
  border-radius: 1rem 1rem 0rem 0rem;
  border: solid 2px #F79884;

}

#card__paragraphe {
  font-size: 1em;
  font-weight: 500;
  background-color: white;
  padding: 0rem 0rem 0rem 0.5rem;
  background-color: white;
  border-radius:0rem 0rem 1rem 1rem ;
  max-width: 220px;
  height: 100%;
  border: solid 2px #F79884;
}

#card__contact {
  display: flex;
  justify-content: space-around;
}

#card__ico {
  max-width: 50px;
  Max-height: 50px;
  margin-top: 1rem;
  border: solid 2px #F79884;
  border-radius: 2rem;
}

*/

