// Generic
$color-in-body: #FABAAE;
$color-body: #F79884;
$color-border: #E47967;
$gutter: 1rem;

// Global
$global-font: 'Segoe UI', sans-serif;
$global-font-weight: 500;
$global-margin:1rem;
$global-padding:1rem;
$global-border-radius:1rem;

