@use "src/styles/vars" as v;

#app {
  //margin: v.$global-margin;
  //padding: v.$global-padding;
  text-align: center;
  //background-color: v.$color-in-body;
  //border-radius: v.$global-border-radius;
  border: solid 2px #E47967;
  display: flex;
     


  &__body {
    flex: 1;
   //border: solid 12px black;
   border-radius: 1rem;
   
  }

//  &__sidebar {
//border: solid 10px orange;
 // }




}

