.contact {
  &__form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    padding: 1rem;
    float: left;
  }
  &__area {
    padding: 1rem;
  }
  &__btn {
    margin: 1em;
    width: 20%;
  }
}
