@use "src/styles/vars" as v;

.sidebar{
  max-width: 230px;
  background-color: v.$color-body;
  height: 100%;
  &__header{
    &__logo {
      width: 90%;
      height: 90%;
      border-radius: v.$gutter/2;
      border: solid 2px #E47967;
    }
    &__logotext{
      margin: 0.1rem;
      margin-top: 0.5rem ;
      text-align: center;
    }
    &__closemenu{
      color: #000;
      margin: auto;
      line-height: 20px;
      border-radius: 50%;
      font-weight: bold;
      font-size: 2rem;
      text-align: right;
      text-decoration: v.$color-in-body;
      cursor: pointer;
      margin-right: 1.5rem;
    }
    &__moment {
      font-size: 1.2rem;
      text-align: center;
      font-weight: bold;
    }
  }
  .pro-sidebar {   
    width: 100%;
    min-width: 100%;
  }
  .pro-sidebar-content{
    flex: 1;
  }
  .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
    ul {
      text-align: left;
      font-size: 1rem;
      .active {
        color: rgb(75, 44, 187);
      }
      .pro-inner-item {
        margin-top: 0.5rem;
        font-weight: bold;
        padding: 0.70rem;
        margin: 0.5rem ;
        border-radius: 0.5rem;
        background-color: v.$color-in-body;
        border: solid 2px #E47967;
        .pro-icon-wrapper {
          background-color: white;
          border-radius: 0.5rem;
          border: v.$color-body solid 0.12em;
          margin: 0rem 0.5rem;
          padding:0.25rem 0.5rem;
        }
        .pro-item-content {
          padding: 0rem;
        }
      }
    }
  }
  .collapsed .pro-sidebar-inner .pro-sidebar-layout {
    .pro-sidebar-header .sidebar__header__moment{
      display: none;
    }
    ul {
      .pro-inner-item {
        padding-top: 1rem;
        .pro-icon-wrapper {
          margin: 0.25rem;
        }
        .pro-item-content {
          display: none;
        }
      }
    }
  }
  .pro-sidebar-inner .pro-sidebar-layout {
    ul {
      .pro-inner-item:focus:hover:active {
        background-color: v.$color-border;
        border: white solid 5px;
      }
      .pro-inner-item:hover {
        background-color: v.$color-border;
        border-radius: 0.5rem;
        margin: 0.25rem;
        border: white solid 3px;
        
      }
    }
  }
  button {
    border-radius: v.$global-border-radius/2;
    font-size:3em;
    font-weight: 400;
    padding: v.$gutter/2;
    margin: 0rem 0.8rem 0.8rem 0.8rem;
    background-color: white;
    border: #E47967 solid 3px;
  }
}
