@use "src/styles/vars" as v;

.footer {
  bottom: 0;
  left: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__nav {
    margin: 0.25rem;
  }

  &__ul {
    display: flex;
    flex-direction: row;
  }

  &__li {
    margin-top: 0.25rem;
    font-weight: bold;
    padding: 0.3rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    background-color: v.$color-in-body;
    border: v.$color-border solid 0.11em;
  }

  &__li:focus:active:hover {
    background-color: v.$color-border;
    border: white solid 2px;
  }

  &__li:hover {
    background-color: v.$color-border;
    border: white solid 2px;
  }
}

@media screen and ( max-width: 1024px) { 
.footer {

  &__nav {
    margin: 0.2rem;
  }
  &__li {
    margin-top: 0.20rem;
    font-weight: bold;
    padding: 0.20rem;
    margin: 0.2rem;
  }
}
}
@media screen and ( max-width: 600px) { 
.footer {

  &__nav {
    margin: 0.12rem;
  }

  &__li {
    margin-top: 0.12rem;
    padding: 0.15rem;
    margin: 0.12rem;
    font-size: 0.7rem;
  }
}
}
