@use "src/styles/vars" as v;

.content_card {
  width: 100%;
  margin: 1rem auto;
  background-color: #fabab0;
  border-radius: 0.5rem;
  border: solid 2px #f79884;
  border-radius: 0.5rem;
  padding: 0.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  &__paragraphe {
    text-align: left;
    font-size: 0.9rem;
    padding: 0 0.25rem;
    background-color: white;
    border-radius: 0.5rem;
    border: solid 2px #f79884;
    box-sizing: border-box;
    flex: 1;
    margin: 0.4rem;
  }

  &__title {
    font-size: 1.3rem;
    text-align: center;
    margin: 0.5rem;
    text-shadow: 1px 1px 2px white;
  }

  &__liste {
    font-display: none;
    height: 100%;
    margin: 0.25em;
  }

  &__title-sous-liste {
    margin-top: 0.25em;
  }
  &__title2-sous-liste {
    margin-top: 0.5rem;
    line-height: normal;

    &__center {
      text-align: center;
    }
  }

  &__sous-liste {
    margin-left: 1em;
  }
}

@media screen and ( max-width: 1024px) { 
 .content_card {
  width: 100%;
  margin: 0.8rem auto;
  padding: 0.2rem;

  &__paragraphe {
    font-size: 0.9rem;
    padding:0 0.25rem;
    border-radius: 0.4rem;
    margin: 0.3rem;
  }

  &__title {
    font-size: 1.1rem;
    margin: 0.4rem;
  }

  &__liste {
    margin: 0.20em;
  }

  &__title-sous-liste {
    margin-top: 0.20em;
  }
  &__title2-sous-liste {
    margin-top: 0.4rem;
    line-height: normal;

  }

  &__sous-liste {
    margin-left: 0.7em;
  }
}
}
@media screen and ( max-width: 600px) { 
  .content_card {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.2rem;

  &__paragraphe {
    font-size: 0.9rem;
    padding:0 0.25rem;
    margin: 0.3rem;
  }

  &__title {
    font-size: 1.1rem;
    margin: 0.4rem;
  }

  &__liste {
    margin: 0.1em;
  }

  &__title-sous-liste {
    margin-top: 0.1em;
  }
  &__title2-sous-liste {
    margin-top: 0.2rem;
    line-height: normal;

  }

  &__sous-liste {
    margin-left: 0.5em;
  }
}
}
